<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

<%require_relative "backend.rb"%>
<!--change path according to where backend is located for you-->
<%city1 = DataQuery.new%>
<%city2 = DataQuery.new%>
<%city3 = DataQuery.new%>
<%city4 = DataQuery.new%>
<%city5 = DataQuery.new%>

<%date= Time.now.strftime("%m/%d/%Y")%> 

<%city1.pull_data("Pomona", date)%>
<%city2.pull_data("Miami", date)%>
<%city3.pull_data("New-York", date)%>
<%city4.pull_data("Newark", date)%>
<%city5.pull_data("Anchorage", date)%>
/* <%city1.get_date%> */

<%tempPom = city1.get_min%>
<%tempMi = city2.get_max%>
<%tempNY = city3.get_min%>
<%tempNJ = city4.get_min%>
<%tempAnch= city5.get_min%>

<%descPom = city1.get_desc%>
<%descMi = city2.get_desc%>
<%descNY = city3.get_desc%>
<%descNJ = city4.get_desc%>
<%descAnch = city5.get_desc%>

<%time = Time.now.strftime("Current time is %H:%M:%S")%>

 body {
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0dzWNcw9WLz0m8SViWWQ2j2nJ9RsSeCLL0w&usqp=CAU'); */
  font-family: Andy;

  justify-content: center;
  align-items: center;
  position: relative;
  height:100vh;
  background: white;
} 

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  /* opacity: 0.65;                 later goal: add opacity for background *aesthetic purposes*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("https://c1.wallpaperflare.com/preview/820/760/1010/clouds-sky-cirrus-nature.jpg");
  height: 1000px;
}

.bgimg-2 {
  background-image: url("https://images.unsplash.com/photo-1536244636800-a3f74db0f3cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHw%3D&w=1000&q=80");
  min-height: 1000px;
}

.bgimg-3 {
   background-image: url("https://cms.groupeditors.com/img/83dc6373-d719-437e-85c3-cc555afb8b3a.jpg");
  min-height: 1000px;
}

.bgimg-4 {
  background-image: url("https://i.pinimg.com/originals/bc/e5/b3/bce5b333cb399a0eb7b12bdbd698390f.jpg");
  min-height: 1000px;
}

.bgimg-5 {
  background-image: url("https://wallpaperaccess.com/full/1973704.png");
  min-height: 1000px;
}

 .flip-card {
  background-color: transparent; /* make sure to change this to transparent at the end*/
  margin: 0 auto;
  width: 400px;
  height: 561px;
  z-index:1;
  display:absolute;

  perspective:1000px;
} 

.card {
  border-radius: 10px;
  /* NEEDS TO CENTER CARD AUTOMATICALLY :PRAY: */
  background: white;
  text-align: center;

  transition: transform 0.5s;
  transform-style: preserve-3d;

  z-index:2;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(100,255,255);
}

.card.is-flipped {
  transform: translateX(50%) rotateY(180deg);
}

.container {
  padding: 2px 16px;
}

.flip-card:hover .card {
  transform: rotateY(180deg); 
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.flip-card-front {
  border-radius:20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.flip-card-back {
  transform: rotateY(-180deg);
}

</s
</style>
</head>

<%
=begin%>
 Here's the HTML portion 
<%
=end%>
<body>
<h1 style = "color:blue">Pokemon Weather App by Ruby 1</h1> <!--header for the example-->
<p><%=time%></p> <!--header for the example-->


<div class="bgimg-1" > 

<!--Card display City 1-->
<div class="flip-card">
  <div class="card">
    <div class="flip-card-front" style="background-color: white;width:400px;height:560px">
      <img src="https://bogleech.com/pokemon/allpokes/018Pidgeot.png" alt="weathericon" style="width:90%;height:50%">
      <div class="container">
        <h4><b>Pomona, CA</b></h4> 
        <p></p>
          <div class = "Temperature">
            <%if tempPom!=nil%>
              Temperature is <%=tempPom%> °F
            <%else%>
              No temperature info to report 
            <%end%>
            <p></p>
            <p></p>
            <p><%=descPom%></p>
            <p></p>
            </div>
      </div>
    </div>
    <div class="flip-card-back">
      <img src="https://comicchannel.weebly.com/uploads/2/2/7/5/22759674/8520676_orig.jpg" alt="backcard" style="width:100%;height:100%;border-radius:25px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);">
    </div>
  </div>
</div>
</div>

<div class="bgimg-2" > 

<!--Card display City 2-->
<div class="flip-card">
  <div class="card">
    <div class="flip-card-front" style="background-color: white;width:400px;height:560px">
      <img src="https://clipart.info/images/ccovers/1528080673Charmander-pokemon-png.png" alt="weathericon" style="width:75%;height:55%">
      <div class="container">
        <h4><b>Miami, FL</b></h4> 
        <p></p>
          <div class = "Temperature">
            <%if tempMi!=nil%>
              Temperature is <%=tempMi%> °F
            <%else%>
              No temperature info to report 
            <%end%>
            <p></p>
            <p></p>
            <p>Hot throughout the day with mild humidity.</p>
            <p></p>
            </div>
      </div>
    </div>
    <div class="flip-card-back">
      <img src="https://comicchannel.weebly.com/uploads/2/2/7/5/22759674/8520676_orig.jpg" alt="backcard" style="width:100%;height:100%;border-radius:25px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);">
    </div>
  </div>
</div>
</div>


<div class="bgimg-3" > 

<<!--Card display City 3-->
<div class="flip-card">
  <div class="card">
    <div class="flip-card-front" style="background-color: white;width:400px;height:560px">
      <img src="https://i.pinimg.com/originals/68/ea/e5/68eae5110003466af047764ff88e2403.png" alt="weathericon" style="width:80%;height:50%">
      <div class="container">
        <h4><b>New York, NY</b></h4> 
        <p></p>
          <div class = "Temperature">
            <%if tempNY!=nil%>
              Temperature is <%=tempNY%> °F
            <%else%>
              No temperature info to report 
            <%end%>
            <p></p>
            <p></p>
            <p><%= descNY%></p>
            <p></p>
            </div>
      </div>
    </div>
    <div class="flip-card-back">
      <img src="https://comicchannel.weebly.com/uploads/2/2/7/5/22759674/8520676_orig.jpg" alt="backcard" style="width:100%;height:100%;border-radius:25px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);">
    </div>
  </div>
</div>
</div>

<div class="bgimg-4" > 
<!--Card display City 4-->
<div class="flip-card">
  <div class="card">
    <div class="flip-card-front" style="background-color: white;width:400px;height:560px">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="weathericon" style="width:70%;height:50%">
      <div class="container">
        <h4><b>Newark, NJ</b></h4> 
        <p></p>
          <div class = "Temperature">
            <%if tempNJ!=nil%>
              Temperature is <%=tempNJ%> °F
            <%else%>
              No temperature info to report 
            <%end%>
            <p></p>
            <p></p>
            <p>Hard rain with scattered storm towards late night.</p>
            <p></p>
            </div>
      </div>
    </div>
    <div class="flip-card-back">
      <img src="https://comicchannel.weebly.com/uploads/2/2/7/5/22759674/8520676_orig.jpg" alt="backcard" style="width:100%;height:100%;border-radius:25px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);">
    </div>
  </div>
</div>
</div>

<div class="bgimg-5" > 

<!--Card display City 5-->
<div class="flip-card">
  <div class="card">
    <div class="flip-card-front" style="background-color: white;width:400px;height:560px">
      <img src="https://th.bing.com/th/id/OIP.5E9-U1ylYqCwCI2_8s8-7AAAAA?pid=ImgDet&rs=1" alt="weathericon" style="width:90%;height:50%">
      <div class="container">
        <h4><b>Anchorage, AK</b></h4> 
        <p></p>
          <div class = "Temperature">
            <%if tempAnch!=nil%>
              Temperature is <%=tempAnch%> °F
            <%else%>
              No temperature info to report 
            <%end%>
            <p></p>
            <p></p>
            <p>Light snow throughout the day.</p>
            <p></p>
            </div>
      </div>
    </div>
    <div class="flip-card-back">
      <img src="https://comicchannel.weebly.com/uploads/2/2/7/5/22759674/8520676_orig.jpg" alt="backcard" style="width:100%;height:100%;border-radius:25px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);">
    </div>
  </div>
</div>
</div>

</body>
</html>